<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trw.mapper.LandFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trw.model.LandFeedback">
        <id column="feedbackId" property="feedbackId" />
        <result column="FBcontent" property="FBcontent" />
        <result column="agentId" property="agentId" />
        <result column="productid" property="productid" />
    </resultMap>

</mapper>
