<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trw.mapper.ServiceScoreRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trw.model.ServiceScoreRule">
        <id column="ruleid" property="ruleid" />
        <result column="ruletype" property="ruletype" />
        <result column="rulescore" property="rulescore" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
